* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    padding: 85px;
  }

  body {
    background-image: url('./Images/beach.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.mediumaquamarine{
    color: mediumaquamarine;
}

footer{
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
}