* {
    box-sizing: border-box;
}

/* Background image for the page */
body {
    background-image: url('./Images/beach.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Header and Name font */
#headerFont{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

/* Clearfix */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Expands nav bar across the whole screen */
.navbar{
  width:100%
}

.mediumaquamarine{
    color: mediumaquamarine !important;
}

/* Sets dimensions for the footer on the page */
footer{
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  border-top: 5px solid mediumaquamarine;
}

.spacer{
  margin-left: 65px;
  margin-right: 65px;
}



/* visited link */
a {
  color: sandybrown;
}

/* mouse over link */
a:hover {
  color: mediumaquamarine;
}




/* **************************************************************** */
/* ***************** Portfolio images with banner ***************** */
/* **************************************************************** */

.banner{
  position: absolute;
  background-color: mediumaquamarine;
  opacity: 0.8;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  bottom: 20px;
  width: 100%;
}

.img1 {
  position:relative;
  background-image: url("./Images/200x200placeholder.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: auto;
}


/* **************************************************************** */
/* ************************** Media Qurey ************************* */
/* **************************************************************** */
@media screen and (min-width: 768px){
#vl {
  border-left: 0.5px solid aquamarine;
}
}

@media screen and (max-width: 480px) {
  #container {
    margin: auto;
}
}