* {
    box-sizing: border-box;
}

body {
    background-image: url('./Images/beach.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

.navbar{
  width:100%
}

.mediumaquamarine{
    color: mediumaquamarine !important;
}

footer{
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  border-top: 5px solid mediumaquamarine;
}

.spacer{
  margin-left: 65px;
  margin-right: 65px;
}

#vl {
  border-left: 0.5px solid aquamarine;
}

/* **************************************************************** */
/* ******************Portfolio images with banner****************** */
/* **************************************************************** */

.banner{
  position: absolute;
  background-color: mediumaquamarine;
  opacity: 0.8;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  bottom: 20px;
  width: 100%;
}

.img1 {
  position:relative;
  background-image: url("./Images/200x200placeholder.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}


/* **************************************************************** */
/* ************************** Media Qurey ************************* */
/* **************************************************************** */

@media screen and (max-width: 1024px) {
  #container {
    padding: 10px;
    margin-left: 60px;
    margin-bottom: 60px;
  }

  .navbar{
    width:100%
  }

  .spacer{
    margin-bottom: 17px;
  }

}